.bold-label {
  font-weight: bold;
}

.filtro-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  margin-top: 50px;
}

.filtro-container .form-group {
  flex: 1 1 200px; /* Los elementos tomarán un 100% del ancho de su contenedor, pero se ajustarán si es necesario */
}

.filtro-container select {
  width: 100%; /* Hace que los select se adapten al contenedor */
}

.reload-button-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.tabs-container {
  margin-top: 60px;
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  background-color: #3f65ff;
  color: rgb(255, 255, 255);
}

.return-button {
  display: flex;
  flex-direction: column;
  padding-left: 18%;
  display: flex;
  justify-content: center; /* Centrar el botón */
  margin-left: -18%; /* Eliminar margen negativo */
  width: auto; /* Ajustar al contenido */
  margin-top: 25px;
}

.table-stats {
  margin-top: 50px;
}

#showEfectividad {
  margin-top: 10px;
  margin-left: 7px;
  width: 170px;
}

.efectividad {
  margin-top: 50px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 50px;
}

.asociaciones-container {
  display: grid;
  margin-bottom: 50px;
}

.tabla-asociaciones {
  width: 100%;
}

.general-container {
  margin-top: 30px;
}

.td-cuadricula {
  text-align: center;
  font-weight: bold;
}
.td-jugador {
  width: 15%;
  min-width: 30px;
  max-width: 30px;
  font-weight: bold;
  text-align: left;
}

.jugador-numero {
  width: 30px;
  height: 30px;
  min-width: 30px;
  max-width: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 18px;
}

.numero-circulo {
  width: 30px;
  height: 30px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

h5 {
  font-weight: bold;
}

.azul {
  background-color: rgba(10, 47, 255, 0.671);
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.rojo {
  background-color: rgba(255, 10, 10, 0.692);
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

th {
  background-color: #f0f0f0;
}

.cuadrantes {
  margin-top: 50px;
}

td,
th {
  text-align: center;
}

.table-left {
  text-align: justify;
}

.cuadrante-container {
  margin: 40px;
  width: 1100px;
  height: 500px;
  outline: 4px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cuadrante-container2 {
  margin: 40px;
  width: 1100px;
  height: 500px;
  outline: 4px solid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.element {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cuadrante {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cuadrante-title {
  margin-top: 50px;
}

.cuadrante-select-container {
  margin-top: 35px;
  margin-left: 3%;
}

#cuadrante-label {
  width: 200px;
}

.element-porcentaje-1 {
  background-color: rgb(8, 201, 2);
}

.element-porcentaje-2 {
  background-color: rgba(8, 201, 2, 0.822);
}

.element-porcentaje-3 {
  background-color: rgba(8, 201, 2, 0.616);
}

.element-porcentaje-4 {
  background-color: rgba(8, 201, 2, 0.493);
}

.element-porcentaje-5 {
  background-color: rgba(8, 201, 2, 0.342);
}
.element-porcentaje-6 {
  background-color: rgba(227, 0, 0, 0.434);
}
.element-porcentaje-7 {
  background-color: rgba(227, 0, 0, 0.614);
}

.element-porcentaje-8 {
  background-color: rgba(227, 0, 0, 0.781);
}

.element-porcentaje-9 {
  background-color: rgba(227, 2, 2, 0.952);
}

.cuadrante-porcentaje-1 {
  background-color: rgb(8, 201, 2);
}

.cuadrante-porcentaje-2 {
  background-color: rgba(8, 201, 2, 0.884);
}

.cuadrante-porcentaje-3 {
  background-color: rgba(8, 201, 2, 0.774);
}

.cuadrante-porcentaje-4 {
  background-color: rgba(8, 201, 2, 0.616);
}
.cuadrante-porcentaje-5 {
  background-color: rgba(8, 201, 2, 0.566);
}

.cuadrante-porcentaje-6 {
  background-color: rgba(8, 201, 2, 0.486);
}

.cuadrante-porcentaje-7 {
  background-color: rgba(8, 201, 2, 0.418);
}

.cuadrante-porcentaje-8 {
  background-color: rgba(8, 201, 2, 0.322);
}

.cuadrante-porcentaje-9 {
  background-color: rgba(227, 0, 0, 0.24);
}

.cuadrante-porcentaje-10 {
  background-color: rgba(227, 0, 0, 0.445);
}

.cuadrante-porcentaje-11 {
  background-color: rgba(227, 0, 0, 0.568);
}

.cuadrante-porcentaje-12 {
  background-color: rgba(227, 0, 0, 0.603);
}

.cuadrante-porcentaje-13 {
  background-color: rgba(227, 0, 0, 0.719);
}

.cuadrante-porcentaje-14 {
  background-color: rgba(227, 0, 0, 0.856);
}

.cuadrante-porcentaje-15 {
  background-color: rgb(227, 0, 0);
}

.direccion-container {
  margin-top: 50px;
}

.misma-persona {
  background-color: #d3d3d3;
}

.nivel-1 {
  background-color: #00b61b;
  color: white;
}
.nivel-2 {
  background-color: #00b61bd4;
  color: white;
}
.nivel-3 {
  background-color: #00b61ba1;
  color: white;
}
.nivel-4 {
  background-color: #00b61b7a;
  color: white;
}
.nivel-5 {
  background-color: #00b61b57;
  color: white;
}
.nivel-6 {
  background-color: #00b61b36;
  color: white;
}

.asociacion-cero {
  background-color: #f9f9f9;
}
