  
  <div class="container">
      <!-- Teams Section -->
      <div class="teams-container">
        <div class="column">
          <button >{{team1[0].team}}</button>
      
          <!-- Players Section -->
          <div class="players-container">
            <div *ngFor="let player of team1, let i = index" class="player-item">
              <button  [id]="team1[0].team + i"
                (click)="playerSelect($event, team1[0].team, player, i)" 
                (contextmenu)="playerSelect2($event, team1[0].team, player, i)">
                {{player.lastname}}
              </button>
              </div>
            </div>
          </div>
        <div class="column">
          <button >{{team2[0].team}}</button>
      
          <!-- Players Section -->
          <div class="players-container">
            <div *ngFor="let player of team2 , let i = index" class="player-item">
              <button  [id]="team2[0].team + i"
                (click)="playerSelect($event, team2[0].team, player, i)" 
                (contextmenu)="playerSelect2($event, team2[0].team, player, i)">
                {{player.lastname}}
              </button>
              </div>
            </div>
          </div>
        </div>


      <!--Tags Section-->
      <div class="tag-container" id="tagsColumn">
        <div *ngFor="let tag of tags" class="tag-item">
          <button  [id]="tag.label" (click)="tagSelect($event,tag)">{{tag.name}}</button>
        </div>
      </div>

      
    </div>
  
    <!-- <div class="buttons">
      <button id="editTag" (click)="toggleEditMode()">{{editMode ? 'Save' : 'Edit'}}</button>
      <button id="addTag" (click)="addTag()">Add Tag</button>
    </div> -->

  <div class="load-section" style="display: flex;">
    <div class="load-teams" style="display: flex;">
      <div class="load-team1">
        <label for="">Equipo 1</label>
      <input type="file" (change)="onTeam1FileChange($event)" />
      </div>
      <div class="load-team2">
        <label for="">Equipo 2</label>
      <input type="file" (change)="onTeam2FileChange($event)" />
      </div>
    </div>
    <div class="load-tags">
      <label for="">Cargar Tags</label>
      <input type="file" (change)="onTagsFileChange($event)" />
    </div>
  </div>
  

  



