body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  margin: 20px auto;
  gap: 20px; /* Añade un espaciado de 20px entre las columnas */
}

.column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.column h3 {
  text-align: center;
}


.column button, .column input, .tag-container button, .tag-container input {
  background-color: #4CAF50; /* Mismo color de fondo para los botones y los inputs */
  color: white; /* Color del texto */
  border: none; /* Sin bordes */
  padding: 15px; /* Añade padding para aumentar el tamaño del botón/input */
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px; /* Aumenta el tamaño del texto */
  width: 100%; /* Ocupa todo el ancho disponible */
  box-sizing: border-box; /* Asegura que padding y border no cambien el tamaño */
  transition: background-color 0.3s; /* Transición suave en el color de fondo */
}

.column button:hover, .column input:hover, .tag-container button:hover, .tag-container input:hover {
  background-color: #1f7e26; /* Color más oscuro al pasar el mouse */
}

/* Evita que el input tenga un borde azul predeterminado al enfocarse */
.column input:focus {
  outline: none; /* Sin borde de foco */
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 850px;
  margin-left: 970px;
}

#editTag, #addTag {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: lightgray;
}

#editTag:hover, #addTag:hover {
  background-color: gray;
  color: white; 
}

/* Diseño de los tags */
#tagsColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tres columnas */
  gap: 10px; /* Espacio entre los botones/inputs */
  width: 1000px;
}


.active_button_right {
  background-color: rgb(233, 158, 37) !important;
}

.active_button_tag {
  background-color: rgb(9, 72, 124) !important;
}

.active_button {
  background-color: rgb(9, 72, 124) !important;
}


.tag-container {
  display: flex;
  flex-wrap: wrap; /* Para que los botones se dividan en varias filas */
  max-height: 400px; /* Altura máxima antes de que aparezca el scroll */
  overflow-y: auto; /* Scroll cuando sea necesario */
  border: 1px solid #ccc; /* Borde opcional */
  padding: 10px; /* Espacio dentro del contenedor */
  margin-right: 200px;
}

.tag-item {
  flex: 0 0 48%; /* Cada tag ocupa el 48% del ancho del contenedor (para que quepan dos por fila) */
  margin: 5px 1%; /* Espaciado entre los tags */
  text-align: center;
}

.teams-container {
  display: flex;
  height: 400px;
  overflow-y: scroll;
  width: 845px;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: space-around;
}

.player-item {
  flex: 1 1 45%; /* Dos columnas */
  margin: 5px;
}

#teams button { 
  width: 100px;
}

