
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag</title>
  
</head>
<body>


  <div class="container">
    <div *ngFor="let team of teams" class="column" id="teams">
      
      <input *ngIf="editMode" [(ngModel)]="team.name" />
      <button *ngIf="!editMode">{{team.name}}</button>

      <div *ngFor="let player of team.players" class="columnPlayers" >
        <input *ngIf="editMode" [(ngModel)]="player.name" />
          <button *ngIf="!editMode" [id]="player.name"
          (click)="playerSelect($event, team, player)" 
          (contextmenu)="playerSelect2($event, team, player)">{{player.name}}</button>
      </div>
      
    </div>
  
    <div class="column" id="tagsColumn">
      <h3>Tags</h3>
      <div *ngFor="let tag of tags">
        <input *ngIf="editMode" [(ngModel)]="tag.label" />
        <button *ngIf="!editMode" [id]="tag.label" (click)="tagSelect($event,tag)">{{tag.label}}</button>
      </div>
    </div>
  </div>
  
  <div class="buttons">
    <button id="editTag" (click)="toggleEditMode()">{{editMode ? 'Save' : 'Edit'}}</button>
    <button id="addTag" (click)="addTag()">Add Tag</button>
  </div>
  

  



