<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Registro de Tag</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <app-nav></app-nav>
    <div class="container mt-4">
      <div class="header mb-4">
        <h1>Crea un tag</h1>
        <p>En este módulo puedes crear tag</p>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="mb-0">Actualizar tag</h5>
      </div>
      <div class="card-body">
        <!-- Formulario -->
        <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
          <!-- Formulario envuelto en un contenedor de ancho limitado -->
          <div class="row g-3">
            <!-- Nombre -->
            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                placeholder="Nombre del Tag"
                required
                name="nombre"
                [(ngModel)]="tag.nombre"
              />
            </div>

            <!-- Abreviatura -->
            <div class="col-md-6">
              <label for="abreviatura" class="form-label">Abreviatura</label>
              <input
                type="text"
                class="form-control"
                id="abreviatura"
                placeholder="Abreviatura"
                required
                name="abreviatura"
                [(ngModel)]="tag.abreviatura"
              />
            </div>

            <!-- Tipo -->
            <div class="col-md-6">
              <label for="tipo" class="form-label">Tipo</label>
              <select
                class="form-control"
                id="tipo"
                value="tipo"
                name="tipo"
                [(ngModel)]="tag.tipo"
              >
                <option *ngFor="let tipo of tipos" [ngValue]="tipo">
                  {{ tipo }}
                </option>
              </select>
            </div>

            <!-- Div de separación -->
            <div></div>

            <!-- Efectividad (Checkbox) -->
            <div class="col-md-6">
              <label for="efectividad" class="form-label">Efectividad</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="efectividad"
                  name="efectividad"
                  [(ngModel)]="tag.efectividad"
                />
                <label class="form-check-label" for="efectividad">
                  {{ tag.efectividad ? "Sí" : "No" }}
                </label>
              </div>
            </div>

            <!-- Balón Parado (Checkbox) -->
            <div class="col-md-6">
              <label for="balon_parado" class="form-label">Balón Parado</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="balon_parado"
                  name="balon_parado"
                  [(ngModel)]="tag.balon_parado"
                />
                <label class="form-check-label" for="balon_parado">
                  {{ tag.balon_parado ? "Sí" : "No" }}
                </label>
              </div>
            </div>

            <!-- Tendencia (Checkbox) -->
            <div class="col-md-6">
              <label for="tendencia" class="form-label">Tendencia</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="tendencia"
                  name="tendencia"
                  [(ngModel)]="tag.tendencia"
                />
                <label class="form-check-label" for="tendencia">
                  {{ tag.tendencia ? "Sí" : "No" }}
                </label>
              </div>
            </div>

            <!-- Asociación (Checkbox) -->
            <div class="col-md-6">
              <label for="asociacion" class="form-label">Asociación</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="asociacion"
                  name="asociacion"
                  [(ngModel)]="tag.asociacion"
                />
                <label class="form-check-label" for="asociacion">
                  {{ tag.asociacion ? "Sí" : "No" }}
                </label>
              </div>
            </div>
            <!-- Porteria (Checkbox) -->
            <div class="col-md-6">
              <label for="porteria" class="form-label">Porteria</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="porteria"
                  name="porteria"
                  [(ngModel)]="tag.porteria"
                />
                <label class="form-check-label" for="porteria">
                  {{ tag.porteria ? "Sí" : "No" }}
                </label>
              </div>
            </div>
          </div>

          <!-- Botones de acción -->
          <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Registrar Tag</button>
            <a [routerLink]="['/panel/tags']" class="btn btn-warning ms-2">
              Regresar
            </a>
          </div>
        </form>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
