<div
  #field
  class="field"
  (mousemove)="onMouseMove($event)"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
  (mouseleave)="hideTooltip()"
  (touchstart)="onTouchStart($event)"
  (touchmove)="onTouchMove($event)"
  (touchend)="onTouchEnd($event)"
  tabindex="1"
  [style.backgroundImage]="'url(' + backgroundImage + ')'"
  style="border: 1px solid black"
>
  <div
    #tooltip
    class="tooltip"
    [style.display]="tooltipVisible ? 'block' : 'none'"
    [style.left.px]="tooltipX"
    [style.top.px]="tooltipY"
  >
    {{ tooltipContent }}
  </div>

  <canvas #arrowCanvas class="arrow-canvas"></canvas>
</div>

<div class="eje-container">
  <div class="elementos">
    <div class="dropdown">
      <button
        class="btn btn-link dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="../../../../assets/img/engrane.png"
          alt="Opciones"
          style="width: 54px; height: 54px; vertical-align: middle"
        />
      </button>

      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            [routerLink]="['/panel/tags/registro']"
          >
            Crear Tag
          </a>
        </li>
        <li>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            [routerLink]="['/panel/tags/lista']"
          >
            Lista de Tags
          </a>
        </li>
        <li>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            (click)="invertirEje()"
          >
            Invertir Dirección
          </a>
        </li>
        <li>
          <a
            class="dropdown-item d-flex justify-content-between align-items-center"
            id="angulo-button"
            data-bs-toggle="modal"
            data-bs-target="#cambiarAngulo"
          >
            Ángulo de Dirección
          </a>
        </li>
      </ul>
    </div>
    <div class="flecha-direccion" *ngIf="this.invertirX">←</div>
    <div class="flecha-direccion" *ngIf="!this.invertirX">→</div>
  </div>
</div>

<!--ANGULOOOOOOOS-->

<!--MODAAAAAAL-->

<div class="modal fade" id="cambiarAngulo" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calcula el Ángulo para la dirección frontal</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-sm">
          La dirección trasera se ejecutará automaticamente con los mismos
          ángulos frontales. Derecha e Izquierda también se ejecutarán
          automáticamente con los ángulos restantes.
        </p>
        <div class="angulos-container">
          <div id="recuadro-angulos">
            <div #flecha1 id="flecha1"></div>
            <div #flecha2 id="flecha2"></div>
            <div class="mover-container">
              <button id="arriba" (click)="moverArriba()">
                <strong>↑</strong>
              </button>
              <button id="abajo" (click)="moverAbajo()">
                <strong>↓</strong>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-sm"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <!-- Botón que ejecuta la función guardarStats -->
        <button
          type="button"
          (click)="submit()"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
