<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú Deportivo</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <app-nav></app-nav>
  <body>
    <div class="container">
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/prepfisica']"
        ><i class="fas fa-dumbbell"></i> Preparación Física</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/categorias']"
        ><i class="fas fa-users"></i> Categorías</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/nutricion']"
        ><i class="fas fa-utensils"></i> Nutrición</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/cuerpotecnico']"
        ><i class="fas fa-clipboard-list"></i> Cuerpos Técnicos</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/psicologia']"
        ><i class="fas fa-brain"></i> Psicología</a
      >
      <a href="#" class="card-button" [routerLink]="['/panel/gestion/utileria']"
        ><i class="fas fa-bullseye"></i> Utilería</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/secretecnica']"
        ><i class="fas fa-file-alt"></i> Secretaría Técnica</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/fisioterapia']"
        ><i class="fas fa-stethoscope"></i> Fisioterapia</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/intdeportiva']"
        ><i class="fas fa-chart-line"></i> Inteligencia Deportiva</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/areamedica']"
        ><i class="fas fa-heartbeat"></i> Área Médica</a
      >
      <a href="#" class="card-button" [routerLink]="['/panel/gestion/porteros']"
        ><i class="fas fa-shield-alt"></i> Porteros</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/administracion']"
        ><i class="fas fa-calculator"></i> Administración</a
      >
      <a href="#" class="card-button" [routerLink]="['/panel/gestion/tactico']"
        ><i class="fas fa-chalkboard-teacher"></i> Técnico Táctico</a
      >
      <a href="#" class="card-button" [routerLink]="['/panel/gestion/partidos']"
        ><i class="fas fa-trophy"></i> Partidos</a
      >

      <a href="#" class="card-button" [routerLink]="['/panel/gestion/visorias']"
        ><i class="fas fa-search"></i> Visorías</a
      >

      <a href="#" class="card-button" [routerLink]="['/panel/gestion/prensa']"
        ><i class="fas fa-microphone"></i> Prensa</a
      >
      <a
        href="#"
        class="card-button"
        [routerLink]="['/panel/gestion/deshumano']"
        ><i class="fas fa-user-graduate"></i> Desarrollo Humano</a
      >
      <a href="#" class="card-button" [routerLink]="['/panel/gestion/casaclub']"
        ><i class="fas fa-home"></i> Casa Club</a
      >
    </div>
  </body>
</html>
